#dayView(ng-cloak)
	.day-header.row
		.col-md-2.col-sm-2.col-xs-2
			i.glyphicon.glyphicon-chevron-left.bigger-icon.day-prev.pull-left(class="btn btn-large btn-info"  ng-click='dvCtrl.showDay(-1)')
		.col-md-8.col-sm-8.col-xs-8.text-center
			#datepicker(style="position: relative")
				a.current-day#pickDate(href='')
					span
						| {{ dvCtrl.selectedDate | date: 'd MMM yyyy' }}
				date-picker.sidebar-datepicker(for="pickDate")
		.col-md-2.col-sm-2.col-xs-2
			i.glyphicon.glyphicon-chevron-right.bigger-icon.day-next.pull-right(class="btn btn-large btn-info" ng-click='dvCtrl.showDay(1)')
	.content-for-day
		table#calendar.table.day-in-table
			time-indicator(table='#calendar' table-row-height='dvCtrl.rowHeight')
			tbody
				tr(ng-repeat="timeSt in dvCtrl.timeStamps track by $index")
					td.hourCell {{timeSt.value}}
					td.eventCell(ng-dblclick="dvCtrl.showCloseModal()" ng-class="{ 'working-hour': timeSt.isWorkingHour }")
						.event-wrapper(ng-if="timeSt.hasEvents")
							day-view-event.event(
							ng-repeat="event in dvCtrl.eventsByStart[timeSt.index] track by $index" 
							event="event" 
							table='#calendar' 
							events-in-row='timeSt.totalEvents'
							index='{{ $index+1 }}')