.modal-body.clearfix
	button.close(type='button' ng-click='ModalCtrl.closeModal()') ×
	ul.nav.nav-tabs(role='tablist')
		li.active(role='presentation')
			a(href="#everything" aria-controls="everything" role="tab" data-toggle="tab")
				| Create new event
	.tab-content
		.tab-pane.active(role="tabpanel" id="everything")
			form(role='form' name='newPlanForm')
				form.form-horizontal
					.form-group
						label.col-md-2.col-sm-2.control-label Time:
						.col-md-10.col-sm-10
							.col-md-6.col-sm-6.col-xs-6
								.input-group
									.input-group-addon
										i.glyphicon.glyphicon-time
									uib-timepicker(ng-model='ModalCtrl.form.timeStart', show-spinners='false', minute-step=5)
							.col-md-6.col-sm-6.col-xs-6
								.input-group
									.input-group-addon
										i.glyphicon.glyphicon-time
									uib-timepicker(ng-model='ModalCtrl.form.timeEnd', show-spinners='false', minute-step=5)
					.form-group
						label.col-md-2.control-label(for="planTitle") Title:
						.col-md-10
							.col-md-12
								input.form-control(type='text', id="planTitle" placeholder='Event title...', ng-model="ModalCtrl.form.title")
					.form-group
						label.col-md-2.control-label(for="planDescription") About:
						.col-md-10
							.col-md-12
								textarea.form-control(rows='5', id="planDescription" placeholder='Description...', ng-model="ModalCtrl.form.description")
					.form-group
						.col-md-10.col-sm-10.col-md-offset-2.col-sm-offset-2
							.col-md-12.col-sm-12
								.input-group
									.input-group-btn
										button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											| Type 
											span.caret
										ul.dropdown-menu
											li(ng-repeat="type in ModalCtrl.eventTypes" ng-click="ModalCtrl.selectFormType(type)")
												a(href="") 
													| {{ type.title }}
									input.form-control(type='text', aria-label='...' ng-model="ModalCtrl.form.type.title" placeholder="..." disabled)							
					.form-group
						label.col-md-12(align="center")
							input(type="checkbox" ng-model="ModalCtrl.isPublic")
							| &nbsp;Public
					.form-group(ng-show="ModalCtrl.isPublic")
						label.col-md-2.col-sm-2.control-label Organization:
						.col-md-10.col-sm-10
							.col-md-6.col-sm-6.col-xs-6
								.input-group
									.input-group-addon 
										i.glyphicon.glyphicon-piggy-bank
									input.form-control(type='text', placeholder='Price...', ng-model='ModalCtrl.form.price')
							.col-md-6.col-sm-6.col-xs-6
								.input-group
									.input-group-btn
										button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span
												i.glyphicon.glyphicon-home
										ul.dropdown-menu.scrollable-menu
											li(ng-repeat="room in ModalCtrl.rooms" ng-click="ModalCtrl.selectFormRoom(room)")
												a(href='') 
													| {{ room.title }}
									input.form-control(type='text', aria-label='...' ng-model="ModalCtrl.form.room.title" placeholder="Room..." disabled)
					.form-group(ng-show="ModalCtrl.isPublic")
						.col-md-10.col-sm-10.col-md-offset-2.col-sm-offset-2
							.col-md-6.col-sm-6
								div(ng-dropdown-multiselect='', 
									translation-texts='ModalCtrl.selectConfigDevices', 
									selected-model='ModalCtrl.form.devices', 
									options='ModalCtrl.devices', 
									extra-settings='ModalCtrl.selectConfigDevices')
							.col-md-6.col-sm-6
								div(ng-dropdown-multiselect='', 
									translation-texts='ModalCtrl.selectConfigUsers', 
									selected-model='ModalCtrl.form.users', 
									options='ModalCtrl.users', 
									extra-settings='ModalCtrl.selectConfigUsers')
					.form-group
						label.col-md-12(align="center")
							input(type="checkbox" ng-model="ModalCtrl.isPlan")
							| &nbsp;Repeat
					.form-group(ng-show="ModalCtrl.isPlan")
						label.col-md-2.control-label Days:
						.col-md-10.col-sm-10
							.col-md-12
								.btn-group
									label.btn.btn-default(ng-repeat='day in ModalCtrl.weekDays', ng-class='{active: day.selected}') {{day.name}}
										input(class='hidden-checkbox', visible='false', type='checkbox', name='selectedDays[]', ng-model='day.selected', ng-click='ModalCtrl.computeIntervals(day)')
					.form-group(ng-show="ModalCtrl.isPlan")
						label.col-md-2 Begins:
						.col-md-10.col-sm-10
							.col-md-12
								p.input-group
									input.form-control(type="text" uib-datepicker-popup="{{ModalCtrl.dpFormat}}" min-date="ModalCtrl.minDate" max-date="ModalCtrl.planEndDate" ng-model="ModalCtrl.planStartDate" close-text="Close" is-open="ModalCtrl.isStartDPopened" ng-change="ModalCtrl.changeStartDate()")
									span.input-group-btn
										button.btn.btn-default(type="button" ng-click="ModalCtrl.openDP('start')")
											i.glyphicon.glyphicon-calendar
					.form-group(ng-show="ModalCtrl.isPlan")
						label.col-md-2 Ends:
						.col-md-10.col-sm-10
							.col-md-12
								p.input-group
									input.form-control(type="text" uib-datepicker-popup="{{ModalCtrl.dpFormat}}" min-date="ModalCtrl.planStartDate" ng-model="ModalCtrl.planEndDate" close-text="Close" is-open="ModalCtrl.isEndDPopened")
									span.input-group-btn
										button.btn.btn-default(type="button" ng-click="ModalCtrl.openDP('end')")
											i.glyphicon.glyphicon-calendar
.modal-footer
	.save-area
		.alert.alert-success.alert-dismissible(role='alert' ng-show='ModalCtrl.formSuccess')
			button.close(type='button', data-dismiss='alert', aria-label='Close')
				span(aria-hidden='true')
					i.glyphicon.glyphicon-remove
			strong Success!
			|  You've just saved the event! Check the calendar now.
		.col-md-6.col-sm-6.col-xs-6
			button.btn.btn-primary(type='submit' ng-disabled="newEventForm.$invalid" ng-click="ModalCtrl.submitModal()") Save
		.col-md-6.col-sm-6
			button.btn.btn-default(ng-click="ModalCtrl.closeModal()") Cancel